@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin:0;
    border:0;
    outline:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{

    /* --blue: #5ac0dc; */
    --red: #d43831;
    --light-red:#e23e3e;
    --light-orange:#d96761;
    --white: #fff1f1;
    --light-white:#b5b5b5;
    --black: #121212;
    --dark-blue: #080819;
    --light-bg:#ffffff;
    --light-blue-bg: #2b2b41;
    --dark-black:#090909;
    --light-grey:#454545;
    --grey-blue:#414564;

    --container-width-lg: 80%;
    --container-width-md : 90%;
    --container-width-sm: 94%;

    --transition : all 400ms ease;

}


.fa-instagram {
    color: #e84393;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-x-twitter{
    color: #000000;

}

.fa-facebook {
    color:#0097e6;
}

body {
    font-family: "Montserrat",sans-serif;
    line-height: 1.7;
    color: var(--white);
    background-color: var(--dark-blue);

}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 5rem 0;
    
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3,h4,h5 {
    line-height: 1.2;
}

h1{
    font-size:2.4rem;
}

h2{
    font-size:2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--white);
}
p{
    font-size: 0.85rem;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--white);
    color: var(--dark-black);
    padding: 0.9rem 1.5rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    
}

.btn-primary{
    background: var(--red);
    color:var(--white);
    
}

.btn:hover{
    background: transparent;
    color: var(--white);
    border-color: var(--white);
}

/*================================ NAVBAR=========================== */
nav{
    background: transparent;
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top:0;
    z-index: 11;


}

/* change navbar style on scroll */
.window-scroll {
    background-color: var(--red);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);

}

.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap:4rem;
}

.nav-menu a{
    font-size: 1rem;
    transition: all 400ms ease;
}

/* chatbot */

.chatbot-toggler{
    position:fixed;
    right:2rem;
    bottom:1rem;
    height: 3.5rem;
    width: 3.5rem;
    color:white;
    font-size:1.5rem;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: var(--red);
    border:none;
    cursor:pointer;
    outline:none;
    border-radius: 50%;

}

.chatbot-toggler span{
    position:absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;

}

.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;
}


.chatbot{
    background-color: var(--white);
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    width: 20rem;
    height:50vh;
    opacity:0;
    pointer-events: none;
    overflow:hidden;
    border-radius: 1rem;
    color: var(--dark-blue);
  
}

.show-chatbot .chatbot{
    opacity: 1;
    pointer-events: auto;
}

.chatbot .chatbot-header {
    background-color: var(--grey-blue);
    padding: 1rem;
    text-align:center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.chatbot h2{
    color:white;
    font-size: 1.1rem;
}

.chatbot .chatbox{
    height: 18rem;
    overflow-y: auto;
    padding: 1rem 1rem 2rem;
}

.chatbox .chat{
    display: flex;

}
.chatbox .incoming span{
    height: 2rem;
    width: 1rem;
    color: var(--red);
    text-align: center;
    align-self: flex-end;
    line-height: 1rem ;
    margin: 0 0.3rem 0.3rem 0;
    
 
}
.chatbox .outgoing{
    justify-content: flex-end;
    margin: 0.5rem 0;
}
.chatbox .chat p{
    color: var(--white);
    max-width: 75%;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.8rem 0.8rem 0 0.8rem;
    background-color: var(--grey-blue);
    margin-bottom: 0.3rem;

}

.chatbox .incoming p {
    color: var(--white);
    background-color: var(--light-red);
    border-radius: 0.8rem 0.8rem 0.8rem 0;
    font-weight: 400;
}

.chatbot .chat-input{
    position: absolute;
    bottom: 0rem;
    width:100%;
    display: flex;
    gap:0.3rem;
    background-color: #ffffff;
    padding: 0rem 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;;
}

.chat-input textarea{
    border:none;
    outline:none;
    width:100%;
    font-size: 0.9rem;
    resize:none;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 1rem;

}

.chat-input span{
    color: var(--grey-blue);
    height: 2.5rem;
    font-size: 1.20rem;
    align-self:flex-end ;
    cursor:pointer;
    visibility:hidden;

}

.chat-input textarea:valid ~ span{
    visibility: visible;
}

/* ==========================HEADER================= */
header{
    position:relative;
    top: 4.5rem;
    overflow:hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    gap:5rem;
    height: 100%;
}

.header_left p{
    margin: 1rem 0 2.4rem;
}


.header_right .header_right-image{
    padding: 2rem;
}

/* =======================COHORTS=================== */
.cohorts {
    background-color: var(--light-blue-bg);
    margin-top: 8rem;

}


.cohorts h1{
    line-height: 1;
    margin-bottom: 3rem;
    
}

.cohorts_container{
    display: grid;
    grid-template-columns:40% 60% ;
    gap: 2rem;
    
}

.cohort_left {
    /* margin-left: 2rem; */
}


.cohort_left p{
    margin: 1rem 0 3rem;
}


.cohort_right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}

.category{
    background-color: var(--dark-blue);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover{
    /* box-shadow: 0 3rem 3rem rgba(0,0,0,0.3); */
    z-index:1;
    border: 2px solid var(--light-bg);
}



.category_icon {
    background-color: var(--red);
    padding: 0.7rem;
    border-radius: 0.9rem;
    text-align: center;
}

.category h5{
    margin: 1.5rem 0 1rem;
    font-size: 1rem;
}

.category p{
    font-size: 0.8rem;
    color: var(--light-white);
}

/* Popular events */

.events-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  
}

/* .problem-btn {
    background-color: var(--red); 
    color: white;
    padding: 0.7rem;
    border-radius: 0.2rem;
    margin-right: 0.8rem;
} */

.solution-btn {
    background-color: var(--light-red);
    color: white;
    font-size: 0.9rem;
    padding: 0.7rem;
    border-radius: 0.2rem;
}

.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.events .viewmore{
    margin-top: 2rem;

}

.event{
    height:25rem;
    background-color: var(--light-blue-bg);
    text-align:center;
   
    border:1px solid transparent;
    transition: var(--transition);
    padding-bottom: 2rem;

}

/* .event:hover{
    background: transparent;
    border: 2px solid var(--light-orange);

} */

.event_info {
    padding: 1rem;
}

.event_info p{
    margin: 0.5rem 0 0rem;
    font-size: 0.9rem;
}

/* faqs */
.faqs {
    background : var(--dark-blue);
    box-shadow : inset 0 0 3rem rgba(0,0,0,0.6);
}

.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background-color: var(--light-blue-bg);
    cursor: pointer;

}

/* =======Testimonials */
.testimonials_container {
    overflow-x: hidden;
    position:hidden;
    margin-bottom: 5rem;
}


.testimonial{
    padding-top: 2rem;
}

.avatar {
    width:6rem;
    height:6rem;
    border-radius:50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.5rem solid var(--red);
}

.testimonial_info{
    text-align:center;
}

.testimonial_body{
    background: var(--light-blue-bg);
    padding: 2rem;
    margin-top: 3rem;
    position:relative;
}


.testimonial_body::before{
    content:"";
    display: block;
    background:var(--light-blue-bg);
    width:3rem;
    height:3rem;
    position:absolute;
    left:50%;
    top:-1.5rem;
    transform: rotate(45deg);

}

/* ====Footer css========= */
footer {
    background-color:var(--light-blue-bg);
    padding-top: 4rem;
    font-size: 0.95rem;
    padding-bottom: 2rem;
}

.footer_container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}

.footer_container > div h4{
    margin-bottom: 1.2rem;

}
.footer_2{
    text-align: center;
}
.footer_1 p{
    margin: 0 0 2rem;
}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}

.footer_socials {
    display: flex;
    gap:2rem;
    font-size:2rem;
    margin-top:2rem;

}

.footer_copyright{
    /* text-align: center; */
    padding: 1rem 0;
    border-top: 1px solid var(--light-grey)

}











/* media queries : tablet*/
@media screen and (max-width : 1024px) {
    
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.3rem;
    }

    h4{
        font-size: 1rem;
    }

    /* ===============NAVBAR=================== */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.5rem;
        color:var(--white);
        cursor: pointer;
        
    }

    nav button#close-menu-btn {
        display:none;
    }

    .nav-menu{
        position: fixed;
        top: 4.5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap:0;
        display: none;
    }

    .nav-menu li{
        width: 100%;
        height: 5.8rem;
    }

    
    .nav-menu li a{
        background-color: var(--red);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width:100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav-menu li a:hover{
        background-color: var(--light-blue-bg);
    }


    /* ================Header============= */
    header{
        height: 52vh;
        margin-bottom: 4rem;
    }

    .header-container {
        gap:0;
        padding-bottom: 3rem;;
    }

    /* =============Cohorts=================== */
    .cohorts{
        height: auto;


    }

    .cohorts_container{
       grid-template-columns:1fr ; 
       gap: 3rem;
    }

    .cohort_left{
        margin-right: 0;
    }

    /* =========Popular events========= */
    .events{
        margin-top:0;
    }

    .events-container{
        grid-template-columns: 1fr 1fr;
    }

    /* ============footer=========== */
    .footer_container{
        grid-template-columns: 1fr 1fr;
        gap:0;
    }

}

/* ================phone media query============ */
@media screen and (max-width: 600px){

    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 1.7rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1.1rem;
    }

    h4{
        font-size: 1rem;
    }

    p{
        font-size: 0.7rem;
    }
    .container{
        width: var(--container-width-sm);

    }

    /* navbar */
    .nav-menu{
        right:3%;
        
    }

    .btn{
        
        padding: 0.8rem 1.4rem;
        
        
    }

    /* header */
    header{
        height: 100vh;
    }

    .header_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 3rem;
        gap:0;
    }

    .header_left p{
        margin-bottom: 1rem;
    }

    /* categories */
    .cohort_right{
        grid-template-columns: 1fr 1fr;
        gap:0.7rem;
    }

    .category{
        padding: 1rem;
        border-radius: 1rem;;
    }

    .category_icon{
        margin-top: 4px;
        display: inline-block;
    }

    /* events */
    .events-container{
       grid-template-columns: 1fr 1fr; 
       gap:0.5rem;
    }

    .events-container p{
        font-size: 0.8rem;
    }

    /* footer */
    .footer_container{
        grid-template-columns:1fr ;
        text-align: center;
        gap: 2rem;
    }

    footer_1{
        margin: 1rem auto;
    }

    .footer_socials{
        justify-content: center;
    }

    

}